<html>
	<head>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<style>
.php{display:block;width:70px;float:left;font-size:18px;text-align:content};
</style>
		<title>
			学生信息
		</title>
	</head>
<body style="margin:0 auto; text-align:center">
	<div style="width:100%;margin:auto">
		<h1>就业调查查询结果
		</h1>
		<div style="width:20%;margin:0 auto">
			<span class="php">姓名：</span>
			<span class="php">{$info.username}</span>
		</div>
		<div style="clear:both;width:20%;margin:0 auto">
			<span class="php">班级：</span>
			<span class="php">{$info.iclass}</span>
		</div>
		<div style="clear:both;width:20%;margin:0 auto">
			<span class="php">城市：</span>
			<span class="php">{$info.inten}</span>
		</div>
		<div style="clear:both;width:20%;margin:0 auto">
			<span class="php" style="width:20%">原因：</span>
			<span class="php" style="width:80%">{$info.reason}</span>
		</div>
</div>

</body>
</html>