<html>
	<head>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" type="text/css" href="__STATIC__css/manhuaDate.1.0.css">
<link rel="stylesheet" type="text/css" media="screen" href="__STATIC__css/iPicture.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="__STATIC__css/css.css"/>

<script type="text/javascript" src="__STATIC__js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__STATIC__js/jquery.date_input.pack.js"></script>
<script type="text/javascript" src="__STATIC__layer/2.4/layer.js"></script>

<style>

</style>
		<title>
			学生信息注册表单
		</title>
	</head>
<body>
	<div style="margin-top:20px">
	<form action="{:url('Index/do_add')}" method="post" class="basic-grey" enctype="multipart/form-data">
		<h1>学生信息注册表单
			<span></span>
		</h1>
		<label>
			<span>学生姓名 :</span>
			<input id="username" type="text" name="username" placeholder="请输入姓名" />
			<div style="margin-left:25%" id="showenmsg"></div>
			
			<span>学生手机号 :</span>
			<input id="username" type="text" name="phone" placeholder="请输入姓名" />
			<div style="margin-left:25%" id="showenmsg"></div>
				<br/>
				<!-- <input type="submit" class="submit" value="提交" /> -->
				<input type="submit"  class="submit" style="clear:both" value="提交" />
		</label> 
</form>
</div>
<script src="__STATIC__js/laydate.js"></script>
<script type="text/javascript" src="__STATIC__js/jquery.ipicture.js"></script>

</body>
</html>