<html>
	<head>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" type="text/css" href="__STATIC__css/manhuaDate.1.0.css">
<link rel="stylesheet" type="text/css" media="screen" href="__STATIC__css/iPicture.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="__STATIC__css/css.css"/>

<script type="text/javascript" src="__STATIC__js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__STATIC__js/jquery.date_input.pack.js"></script>
<script type="text/javascript" src="__STATIC__layer/2.4/layer.js"></script>

<style>

</style>
		<title>
			学生信息
		</title>
	</head>
<body>
	<div style="width:750px;  margin:0 auto">
 <div style="height:250px">
<div style="float:left">
     <div>
          <img src="__STATIC__/images/1.jpg" alt="简历照片" style="margin:30px 0px 0px 30px"></img>
        </div>
		<div style="color:#666666;font-size:15px; margin:-45px 0px 0px 250px;">求职意向：PHP工程师</div>
		<div style="color:#666666;font-size:15px; margin:5px 0px 0px 250px;">目标地点：临沂</div>
     <div>
		<div style="margin-top:30px">
			  <span style=":#666666;font-size:15px; margin-left:40px;">
			  <img style="margin-top:-5px" src="__STATIC__/images/2.jpg" > 
				  姓　　名  ：李浩东
			  </span>
			  <span style="color:#666666;font-size:15px; margin-left:60px;">
			  <img style="margin-top:-5px" src="__STATIC__/images/tell.jpg" > 
			  电　　话 ：13044051210
			  </span>
		</div>
           <div style="margin-top:30px">
			  <span style="color:#666666;font-size:15px; margin-left:40px;">
			  <img style="margin-top:-5px" src="__STATIC__/images/3.jpg" > 
			  专　　业 ：计算机应用
			  </span>
			  <span style="color:#666666;font-size:15px; margin-left:30px;">
			  <img style="margin-top:-5px" src="__STATIC__/images/eml.jpg"> 
			  邮　　箱 ：1648009866@qq.com
			  </span>
           </div>
     </div>
</div>
		<div style="float:left;margin:30px 0px 0px 60px">
	 <img  src="__STATIC__/images/tou.jpg" width="150" height="160"> 
		</div>
	  </div>
	 <div style="border-left:1px solid #b9b9b9;width:650px;height:90px;margin-left:40px;">
	 
	   <img src="__STATIC__/images/jiaoyu.png" style="margin:-28px 0px 0px -19px">
	   <div style="margin:-35px 0px 0px 0px;font-size:17px">教育经历</div>
	   
	   <span style="color: #666666; margin:1% 0 0 3%; display:block">主修课程：PHP、mysql、react-native、linux、tp、yii2、javascript</span>
	  
	   <span style="color: #666666; margin:0.5% 0 0 3%; display:block">熟悉运用：photoshop、div+css、html5、C</span>
	   
	</div>
	<div style="border-left:1px solid #b9b9b9;width:650px;height:380px;margin-left:40px">
	 
	   <img src="__STATIC__/images/jiaoyu.png" style="margin:-28px 0px 0px -19px">
	   <div style="margin:-35px 0px 0px 0px;font-size:17px">工作经验</div>
	   <span style="color: #666666; margin:2% 0 0 3%; display:block">2017/7-2017/8　　　　大智科技</span>
	   <span style="color: #666666; margin:1% 0 0 3%; display:block">项目名称：智慧幼儿园APP</span>
	   <span style="color: #666666; margin:1% 0 0 3%; display:block">
	   担任职位：数据接口及APP页面设计开发，后台开发及调试
	   </span>
	   <span style="color: #666666; margin:0.5% 0 0 3%; display:block">项目介绍：1.根据项目需求分析项目结构创建出所需数据库。
	   2.分析需求选用ReactNative开发APP端，Thinkphp开发后台，Mysql做数据库支持
	   3.与极光公司技术对接，实时推送信息，与百度地图技术对接，调取所需数据。
	   4.短信，彩信，第三方登录等接口设计，搭建，开发及部署。
	   5.后台设计，搭建，开发及部署，采用了Thinkphp框架。
		</span>
	   <span style="color: #666666; margin:2% 0 0 3%; display:block">2017/9-2017/10　　　　大智科技</span>
	   <span style="color: #666666; margin:1% 0 0 3%; display:block">项目名称：微信小程序校园签到打卡
</span>
	    <span style="color: #666666; margin:1% 0 0 3%; display:block">担任职位：微信小程序设计开发及部署
</span>
	   <span style="color: #666666; margin:0.5% 0 0 3%; display:block">项目介绍：1.根据企业需求初步设计页面。
   2.采用Thinkphp做数据接口支持，Mysql数据库支持
   3.调用相对于小程序友好的腾讯地图做位置锁定及签到功能</span>
	   
	   
	</div>
	<div style="border-left:1px solid #b9b9b9;width:650px;height:140px;margin-left:40px">
	   <img src="__STATIC__/images/jiaoyu.png" style="margin:-29px 0px 0px -19px">
	   <div style="margin:-35px 0px 0px 0px;font-size:17px">专业技能</div>
	  <span style="color: #666666; margin:2.5% 0 0 3%; display:block">职业荣誉：幼儿园APP参加2017年淮海经济区大学生计算机应用设计大赛并荣获二等奖，同年参加了第四届山东省大学生电子信息技术应用大赛“赛冠杯”比赛荣获三等奖
		</span>
	  
	 
	  <span style="color: #666666; margin:1% 0 0 3%; display:block">软件能力：Dw、phpstrom、Notepad、sublime、FTP、VirtualBox</span>
	   
	</div>
	 <div style="border-left:1px solid #b9b9b9;width:650px;margin-left:40px;height:100px;">
	 
	   <img src="__STATIC__/images/jiaoyu.png" style="margin:-29px 0px 0px -19px">
	   <div style="margin:-35px 0px 0px 0px;font-size:17px">自我介绍</div>
	   <span style="color: #666666; margin:2% 0 0 3%; display:block">　　善于沟通，为人稳重，对工作认真负责。具有良好的团队协作能力，热爱编程，熟悉数据库关系型数据，掌握基本框架，熟悉基本的数据结构和算法，熟练配置编程环境；希望在三年后成为独立的后端工程师</span>
	   
	   
	</div>
</div>
</body>
</html>